

html, body {
  font-size: .875rem;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100vh;
  width: 100vw;
  /*height:950px;
  width:1900px;*/
  position: relative;
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/**
Chatbox
 */
.chatbox {
  border:1px solid lightgrey;
  background-color: white;
  margin: 1%;
  padding: 1%;
  overflow-y: auto;
}

.external-msg-body {
  margin-left:35px;
  margin-right: 10%;
  padding:1px;
  border-radius:5px;
  background-color: lightgray;
  border: 1px solid gray;
}

.interal-msg-body{
  margin-left:20%;
  margin-right: 5px;
  margin-top:5px;
  padding: 1px;
  border-radius: 5px;
  color:white;
  background-color: dodgerblue;
  border: 1px solid blue;
}

.msg-user-circle {
  background-color: darkred;
  border: 1px solid saddlebrown;
  display: table-cell;
  line-height: 1em;
  vertical-align: middle;
  border-radius: 15px;
  font-weight: bold;
  width:30px;
  height: 30px;
  text-align: center;
  color: white;
}

.msg-sender-username {
  font-weight: bold;
  display: block;
}

.msg-actual {
  display: block;
  margin-top:2px;
  margin-bottom: 2px;
}

.msg-timestamp{
  font-size: 0.75em;
}

#afkButton {
  margin: 5px;
  width:100%;
}

#afkBody {
  background-size: cover;
}

/**
 Canvas
 */
.canvas {
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

#maincanvas{
  margin:0;
  padding: 0;
  background-size:contain !important;
}

/**
 Avatars
 */

.avatar {
  position: absolute;
  display: block;
  z-index: 1;
}

.avatar img {
  margin:auto;
  height:50px;
  display: block;
}

.avatar span {
  color: white;
  display:block;
  margin:auto;
  text-align: center;
  text-shadow: -1px 1px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
               -1px -1px 0 #000;
}

/**
 Room links
 */

.roomLink {
  position: absolute;
  display: block;
  /*z-index: -1;*/
}

.roomLink:hover {

}

.roomLink img {
  margin:auto;
  height:50px;
  display: block;
}

.roomLink span {
  color: white;
  margin: auto;
  display: block;
  text-align: center;
  text-decoration: none;

  text-shadow: -1px 1px 0 #000,
  1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
}

.mediaFrame {
  position: absolute;
  border: 1px solid black;
}

.mouseoverText {
  border: 2px solid black;
  background-color: white;
  padding: 5px;
  display: none;
  position: absolute;
  max-width: 150px;
  z-index: 2;
}